{% load static %}

<!DOCTYPE html>
<html lang="en" class="Gibbu_@hotmail.com">
<head>
  <meta charset="UTF-8">
  <title>CodePen - Discord Login Form (Animated)</title>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.js" integrity="sha256-mkdmXjMvBcpAyyFNCVdbwg4v+ycJho65QLDwVE3ViDs=" crossorigin="anonymous"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="{% static 'dist/style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<!-- NORMALIZED CSS INSTALLED-->
<!-- View settings for more info.-->
<div id="container">
  <div id="inviteContainer">
    <div class="logoContainer"><img class="logo" src="https://seeklogo.com/images/D/discord-logo-134E148657-seeklogo.com.png"/><img class="text" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Discord_Color_Text_Logo.svg/2000px-Discord_Color_Text_Logo.svg.png"/></div>
    <div class="acceptContainer">
      <form method="post" action="{% url 'login' %}">
      	{% csrf_token %}
        <h1>WELCOME BACK!</h1>
        <div class="formContainer">
          <div class="formDiv" style="transition-delay: 0.2s">
            <p>EMAIL</p>
            <input type="email" id="inputEmail" placeholder="Email address" required="" autofocus="" name="email">
          </div>
          <div class="formDiv" style="transition-delay: 0.4s">
            <p>PASSWSORD</p>
            <input type="password" id="inputPassword" placeholder="Password" required="" name="password"><a class="forgotPas" href="#">FORGOT YOUR PASSWORD?</a>
          </div>
          <div class="formDiv" style="transition-delay: 0.6s">
            <button class="acceptBtn" type="submit">Login</button><span class="register">Need an account?<a href="{% url 'register' %}">Register</a></span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- partial -->
  <script  src="{% static 'dist/script.js' %}"></script>

</body>
</html>
